In [1]:
# Data completeness check between Source csv file and Target table
# Since I dont have DB i am considering both Source and Target as csv files

In [2]:
import pandas as pd

In [4]:
df_src = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/10_employee_SRC.csv')

In [5]:
df_src

   EmpNo  EmpName DeptName  DeptNo
0      1     Adam       IT     111
1      2    Peter       HR     222
2      3    Chris  Finance     333
3      4     Alan    Admin     444
4      5   Mayank       HR     222
5      6  Rajesh     Sales     555
6      7   Pankaj    Sales     555

In [6]:
df_tgt = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/10_employee_TGT.csv')

In [7]:
df_tgt

   EmpNo EmpName DeptName  DeptNo
0      1    Adam       IT     111
1      2   Peter       HR     222
2      3   Chris  Finance     333
3      4    Alan    Admin     444
4      7  Pankaj    Sales     555

In [10]:
# check EmpNo
# is in checks displays records matched  between src and tgt and displays true and false for unmatched
df_src['EmpNo'].isin(df_tgt['EmpNo'])

0     True
1     True
2     True
3     True
4    False
5    False
6     True
Name: EmpNo, dtype: bool

In [11]:
# Use ~ negation to display unmatched records
~df_src['EmpNo'].isin(df_tgt['EmpNo'])

0    False
1    False
2    False
3    False
4     True
5     True
6    False
Name: EmpNo, dtype: bool

In [14]:
# displays the unmatched records
df_result = df_src[~df_src['EmpNo'].isin(df_tgt['EmpNo'])]

In [15]:
df_result

   EmpNo  EmpName DeptName  DeptNo
4      5   Mayank       HR     222
5      6  Rajesh     Sales     555

In [21]:
df_result.to_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/OutputFiles/10_empcompresult.csv', index= False)

In [22]:
df_read = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/OutputFiles/10_empcompresult.csv')

In [23]:
df_read

   EmpNo  EmpName DeptName  DeptNo
0      5   Mayank       HR     222
1      6  Rajesh     Sales     555