In [1]:
import pandas as pd

In [2]:
# create dict
dict ={'EmpNo': 'Emp1', 'Name': 'Vaibhav','Dept':  'IT'
}

In [3]:
# Display dict
dict

{'EmpNo': 'Emp1', 'Name': 'Vaibhav', 'Dept': 'IT'}

In [4]:
# Adding mutliple rows in dict
dict ={'EmpNo': ['Emp1', 'Emp2'], 'Name': ['Vaibhav','shish'],'Dept':  ['IT','Admin']
}

In [5]:
dict

{'EmpNo': ['Emp1', 'Emp2'],
 'Name': ['Vaibhav', 'shish'],
 'Dept': ['IT', 'Admin']}

In [6]:
# Convert dict into dataframne
df1 = pd.DataFrame(dict)

In [7]:
df1

  EmpNo     Name   Dept
0  Emp1  Vaibhav     IT
1  Emp2    shish  Admin