In [1]:
# Find duplicated at Source and Target csv

In [2]:
import pandas as pd

In [4]:
# Read src csv
df = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/07_employee_SRC.csv')

In [5]:
print(df)

   EmpNo EmpName DeptName
0      1    Adam       IT
1      1    Adam       IT
2      2   Peter       HR
3      3   Chris  Finance
4      3   Chris  Finance
5      4    Alan    Admin
6      5  Mayank       HR
7      5  Mayank       HR

In [6]:
# Check duplcates
df.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7     True
dtype: bool

In [7]:
# Check duplicate row in src
df[df.duplicated()]

   EmpNo EmpName DeptName
1      1    Adam       IT
4      3   Chris  Finance
7      5  Mayank       HR

In [8]:

dupes = df[df.duplicated()]

In [9]:
dupes

   EmpNo EmpName DeptName
1      1    Adam       IT
4      3   Chris  Finance
7      5  Mayank       HR

In [12]:
# copy duplocate rows to a file
dupes.to_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/OutputFiles/07_empsrcdup.csv')

In [13]:
# Read tgt csv
df1 = pd.read_csv('E:/Python/MyPython/PycharmProjects/MyLearnings1/ETLQASession/TestFiles/07_employee_TGT.csv')

In [14]:
df1.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7     True
dtype: bool

In [16]:
# check dup row in tgt
df1[df.duplicated()]

   EmpNo EmpName DeptName
1      1    Adam       IT
4      3   Chris  Finance
7      5  Mayank       HR